<?xml version="1.0"?>
<launch>
    
    <include file="$(find agvsim_navigation)/launch/navigation_control.launch">
        
    </include>
    <include file="$(find ar_track_alvar)/launch/steel_wheel_artrack.launch">
        
    </include>

    <node pkg="agv_relative_move" type="reltive_move" name="reltive_move" output="screen">
        
    </node>





</launch>