<?xml version="1.0"?>
<launch>

  <!-- 启动硬件 -->
  <include file="$(find agv_sim_robot_hw)/launch/hw_real.launch"/>

  <!-- 启动激光雷达驱动？？？？还没写 -->


  

  <!-- 启动激光雷达融合 -->
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="base_footprint"/>
    <param name="cloud_destination_topic" value="/merged_cloud"/>
    <param name="scan_destination_topic" value="/scan"/>
    <param name="laserscan_topics" value ="/scan1 /scan2" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
    <param name="angle_min" value="-2.7"/>
    <param name="angle_max" value="2.7"/>
    <!-- 尾部留一点位置让人可以操纵机器人 -->
  </node>


</launch>