<?xml version="1.0"?>
<launch>

    <rosparam file="$(find agv_sim_roscontrol)/config/agv_geometry_param_new.yaml" command="load"></rosparam>
    <rosparam file="$(find agv_sim_roscontrol)/config/agv_gazebo_ros_controller_new.yaml" command="load"></rosparam>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/agv_sim" args=" 
    turn_wheels_controller"/>
  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/agv_sim/joint_states"/>
  </node> -->

  <include file="$(find agv_real)/launch/gazebo.launch">
    
  </include>

  <include file="$(find joy)/launch/joy.launch">
    
  </include>

  <node pkg="tf" type = "static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 map odom 100"/>


  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom_com" />
    <param name="base_footprint_frame" value="base_footprint" />
    <param name="freq" value="300.0" />
    <param name="sensor_timeout" value="1.0" />
    <param name="odom_used" value="true" />
    <param name="imu_used" value="true" />
    <param name="vo_used" value="false" />
    <param name="topic_imu" value="/imu_data" />
  </node>

</launch>
