<?xml version="1.0"?>

<robot name="oryxbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find agvsim_description)/urdf/oryxbot_base_only.urdf.xacro"/>

  <xacro:include filename="$(find agvsim_description)/urdf/pro_model.xacro" />


  
  <xacro:oryxbot_body/>

    <joint name="base_Base_joint" type="fixed">
        <origin xyz="0.05 0 0.16" rpy="0 0 0"/>
        <parent link="base_footprint"/>
        <child link="Base"/>
    </joint>

</robot>
